.sidebar-menu {
  background-color: #fff;
  list-style: none;
  padding: 0;
  text-align: left;
  border-right: 2px solid #eee;
}

.sidebar a {
  color: inherit;
}

.sidebar a:hover {
  text-decoration: none;
}

.active {
  color: rgb(78, 130, 209) !important;
}

.sidebar {
  height: calc(100vh - 7rem);
}

.sidebar-menu li {
  padding: 12px;
  margin: 0;
  width: 100%;
}

.btn {
  width: 100%;
  padding-left: 0;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.list-group-item {
  background: white;
  border: none;
  margin: 0 !important;
}

aside .card {
  border: none;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
  border-radius: 0;
}
